{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Give advice 1
{% endblock %}

{% block content %}
    <p>You are <strong>Type {{preference_type }}</strong>.
        <br> Your preference over the objects is {{ player_preference }}.
        <br>{{ player_priority_right }}.
    </p>

    {% formfield player.advice_1 %}

    {% if player.id_in_group == 1 %}
<strong>Notice: this subject is of your preference type.</strong>
    {% endif %}

    {% formfield player.verbal_1 %}

    {% next_button %}

    {% include Constants.instructions_template_4 %}
{% endblock %}