{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Give advice 4
{% endblock %}

{% block content %}
<p>You are <strong>Type {{ preference_type }}</strong>.
        <br> Your preference over the objects is {{ player_preference }}.
        <br>{{ player_priority_right }}.
    </p>


    {% formfield player.advice_4 %}

{% if player.id_in_group == 4 %}
<strong>Notice: this subject is of your preference type.</strong>
    {% endif %}

    {% formfield player.verbal_4 %}

    {% next_button %}

    {% include Constants.instructions_template_4 %}
{% endblock %}