{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
    <p>
        The matching mechanism has the following steps:
    </p>
    <p>
        (Step 1) The computer will randomly generate a ranking of all subjects which will later serve as the only
        tie-breaking lottery, if necessary.
    </p>
    <p>
        (Step 2) The computer gathers all the rankings submitted by the subjects and then takes each subject's first
        ranked choice and make an application for him or her to that object.
    </p>
    <p>
        (Step 3) For each object, if the number of applicants is less than or equal to the available units of the object,
        all applicants will be <b>temporarily</b> matched to that object. Otherwise, the object will be <b>
        temporarily</b> matched to subjects by using their priority rankings from the highest to lowest until all
        units are taken. If two applicants have the same priority ranking, then the tie-breaking lottery will be used
        and the subjects with higher tie-breaking number will be admitted first. Low priority applicants or low
        tie-breaking applicants in excess of the number of available units will be left unmatched <b>temporarily</b>.
    </p>
    <p>
        (Step 4) If at the end of the first round all subjects are matched to objects, the temporary assignment outcome
        will be finalized and the mechanism terminates. If there are any unmatched subjects, a second round starts where
        all unmatched subjects are sent to their second ranked objects.
    </p>
    <p>
        (Step 5) For each object that receives new applicants, the computer compares the number of its remaining units
        with that of new applicants. If the remaining units are more than the number of new applicants, all new
        applicants are <b>temporarily</b> matched to that object. Otherwise, these new applicants will be pooled
        together with the subjects who are currently matched to that object from the previous round. Among these new
        applicants and matched applicants, the object will be <b>temporarily</b> assigned to applicants again by using
        their priority ranking and tie-breaking ranking from the highest to the lowest until all available units in the
        object are exhausted. Note, it is possible that a subject was temporarily matched to the object in the previous
        round but is left unmatched in this round, because his priority or tie-breaking lottery is not high enough and
        he gets replaced by a new applicant with higher priority or tie-breaking number.
    </p>
    <p>
        (Step 6) At the end of the second round, if all subjects are matched with a object, then the temporary matching
        outcome will be finalized and the mechanism is terminated. However, if there are still unmatched subjects, then
        a third round will start where all unmatched subjects are sent to their next ranked object.
    </p>
    <p>
        (Step 7) This process is repeated until all subjects are matched with an object. Then the temporary matching
        outcome finalizes and the matching mechanism terminates, and all subjects receive the object they were matched
        with.
    </p>
</div>