{% load otree %}
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>

        <p>
            In this part of the experiment, you will be asked to provide advice to several students who will
            participate in the school choice problem after you. The recipients of your advice may or may not be of
            the same preference type as you. Please keep in mind that these preference types are hypothetical; in
            other words, they may or may not actually exist in the experiment. Please note that when you give advice
            to a particular type of student, you must put yourself in their position to give advice. Consider what
            you would have done if you were of that particular preference type. Finally, your payoff from advice
            giving is 1/2 of the payoff of the subject who receives your advice. If multiple subjects receive your
            advice, your payoff will be determined by randomly selecting one from such subjects.
        </p>

    </div>
</div>
