{% load otree %}
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
        <p>
            Before leaving the lab, there will be a questionnaire and two decision-making tasks. The questionnaire
            will ask you for your age, gender, grade, and major. All the information you enter will remain anonymous
            and completely confidential. It will be used for no other purpose than this experiment. After filling out
            the questionnaire, you will be asked to choose your more preferred option from the ten pairs of
            lotteries. A lottery is in the following form: you may have probability p of receiving m dollars and
            probability 1-p of receiving n dollars. The second decision task contains four questions commonly
            used in economics experiments. You should answer them according to the best of your ability.
        </p>
    </div>
</div>
