{% load otree %}
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>

        <p>
            As mentioned before, you will participate in school matching twice by submitting a ranking of the three
            schools. After submitting your first ranking and before participating in school matching again, with the
            same preference over schools and priority rights, with the same group of students under the same matching
            mechanism, you have the option to receive advice from three sources:
        </p>

        <p>
            First, third-party advice. Such advice is provided by people who are not directly participating in the
            matching problem. The matching scheme described above is often used in matching middle school graduates to
            public high schools in various cities across the world. The third-party advice used in this experiment comes
            from school matching administrators such as the website of the Department of Education or school counselors.
        </p>

        <p>
            Second, own-type inter-generational advice. Such advice is given by the subject of the same preference
            type as you in the previous session. For example, if you are a type 1 subject, then the own-type
            inter-generational advice is provided by the type 1 subject who participated in the session right before
            you.
        </p>

        <p>
            Lastly, other-type inter-generational advice. Such advice is given by subjects of a different preference
            type from you in the previous session. Because there are four subjects who differ from you, the computer
            will randomly choose advice from one particular type with equal probability. For example, if you are a
            type 1 subject, then the other-type inter-generational advice will be randomly selected with equal
            probability from type 2 to type 5's advice to a type 1 subject. Note that though advice-givers may be of
            a different type from you, they are asked to put themselves in your position when giving you advice.
        </p>

        <p>
            Having known these three advice sources, you will then have the option to accept advice or to reject all
            types of advice. If you reject advice-receiving, you will receive no advice for the second round of
            school matching. Should you choose to receive advice, you will then answer a couple questions: Should you
            receive 1 (or 2) pieces(s) of advice, which advice source(s) would you prefer? Based on your answer to
            these two questions, the computer will randomly select, with equal probability, the number of advice and
            the advice sources for you. For example, suppose you choose to receive advice and you prefer own-type
            advice should you receive 1 source of advice and own-type advice and other-type advice should you receive
            2 sources of advice. Then the computer would randomly choose the number of advice you receive, say 2.
            Then you will receive one piece of own-type advice and one piece of other-type advice from the previous
            session, because you answered that if you were to receive two pieces of advice, you would prefer own-type
            advice and other-type advice.
        </p>

        <p>
            Advice is costly: it costs you 1 ECU, no matter how many pieces of advice you receive. Remember, your
            final payoff from school matching is randomly selected from the first and second round, which gives you
            at least 8 ECU (if you are matched to your third preferred school in the paying round). In addition to
            your payoff from the game, you will later be asked to give advice, through which you can increase your
            payoff even more. We estimate that on average subjects will gain about 25 ECU, which is equivalent to 20
            U.S. dollars. Obviously, if you reject advice, you do not pay the 1 ECU for advice.
        </p>
    </div>
</div>

