{% load otree %}
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
        <p>
        This is the last part of the experiment and is totally different from the previous problems. There are two tasks
        you need to complete. The first task is for you to choose the more preferred options from the ten pairs of
        lotteries. A typical lottery comparison page looks like the following figure.
    </p>
    <img src="{% static 'matching/LotteryComparisons.png' %}" alt="Image" width="620" height="900"/>
    <p>
        A lottery is in the following form: you may have probability p of receiving m ECU and probability 1-p of
        receiving n ECU. You will make ten choices and for each choice you only need to indicate which lottery you
        prefer more. Once you have made all ten decisions, click the "Next" button. Your final payoff is also dependent
        on your decisions here: Each lottery pair has equal probability of being selected and the computer will run your
        more preferred lottery in that pair to determine your payoff from this decision problem.
    </p>
    <p>
        The second task contains three quiz questions commonly used in economics experiments on decision making. You
        should answer according to the best of your ability.
    </p>
    </div>
</div>
