{% load otree %}
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
        <p>
            Before participating in the second round, you will first read the advice assigned to you according to
            your valuation of advice in the previous stage. You will have three minutes to read through the advice.
            The detail of the mechanism and the advice you receive will still be available to you while you rank the
            schools.
        </p>
    </div>
</div>

