{% load otree %}
<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instructions
    </h3>
        <p>
        In this part of the experiment, you will be asked to provide advice to several subjects of other preference
        types in the group that participates after you. You will be given the advice receiver's preference over the
        objects and asked to give suggested ranking and verbal reasoning to support your advice. Please keep in mind
        that these preference types are hypothetical; in other words, they may or may not actually exist in the
        experiment. You will be given preferences different from that of yours, so please note that when you give advice
        to a particular type of subject, <b>you must put yourself in their position to give advice</b>. Do
        not simply repeat what you did in the experiment. Consider what you would have done if you were of that
        particular preference type. A typical advice giving page looks like the following figure.
    </p>
    <img src="{% static 'matching/AdviceGiving.png' %}" alt="Image" width="800" height="450"/>
    <p>
        As you can see, at the top of the page, your preference and priority will be repeated. Then your advisee's
        preferences over the objects and priorities will be provided. And your task is to choose what ranking you
        suggested him or her to take and provide verbal reasoning for it. Your reasoning should be concise and pertinent.
    </p>
    <p>
        Finally, your payoff from advice giving is 1/2 of the payoff of the subject who receives your advice.
        If multiple subjects receive your advice, your payoff will be determined by randomly selecting one from such
        subjects. Therefore, you should provide advice to all your advisees to the best of your ability.
    </p>
    </div>
</div>
