{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    School Matching Round 2
{% endblock %}

{% block content %}
    <p>You are <strong>Type {{ preference_type }}</strong>.
        <br>Your preference over the objects is {{ player_preference }}.
        <br> {{ player_priority_right }}.
    </p>

    <p>
        Now please consider carefully and answer the following question:
    </p>

{% formfield player.first_choice_r2 label="Your first choice is" %}

{% formfield player.second_choice_r2 label="Your second choice is" %}

{% formfield player.third_choice_r2 label="Your third choice is" %}


{% if gen_num != 0 and player.num_adv == 1 %}
<P>
    Here is the advice you received in the previous page:
</P>
    <p> {{ intro_1 }} </p>
    <p> <h>Suggested Strategy</h>: {{ first_advice }} </p>
    <p> <h>Verbal Reasoning</h>: {{ first_verbal }} </p>


    {% elif gen_num != 0 and player.num_adv == 2 %}
<P>
    Here is the advice you received in the previous page:
</P>
        <p> {{ intro_1 }} </p>
        <p> <h>Suggested Strategy</h>: {{ first_advice }}
        <p> <h>Verbal Reasoning</h>: {{ first_verbal }}

        <p> {{ intro_2 }} </p>
        <p> <h>Suggested Strategy</h>: {{ second_advice }} </p>
        <p> <h>verbal Reasoning</h>: {{ second_verbal }} </p>


    {% elif gen_num != 0 and player.num_adv == 3 %}
<P>
    Here is the advice you received in the previous page:
</P>
        <p> {{ intro_1 }} </p>
        <p> <h>Suggested Strategy</h>: {{ first_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ first_verbal }} </p>

        <p>{{ intro_2 }}
        <p> <h>Suggested Strategy</h>: {{ second_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ second_verbal }} </p>

        <p>{{ intro_3 }} </p>
        <p> <h>Suggested Strategy</h>: {{ third_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ third_verbal }} </p>

    {% elif gen_num != 0 and player.num_adv == 0 %}
        <p>
            You did not receive any advice.
        </p>
    {% else %}
        <p></p>

{% endif %}


{% next_button %}

{% include Constants.instructions_template_1 %}


{% endblock %}