{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    School Matching Round 2
{% endblock %}

{% block content %}
    <p>You are <strong>Type {{ preference_type }}</strong>.
        In other words, your preference over the schools is {{ player_preference }}, and {{ player_priority_right }}. </p>

    <p>
        Now please consider carefully and answer the following question:
    </p>

{% formfield player.first_choice_r2 label="Your first school choice is: " %}

{% formfield player.second_choice_r2 label="Your second school choice is: " %}

{% formfield player.third_choice_r2 label="Your third school choice is: " %}

{% if player.num_adv != 0 %}
<P>
    Here is the advice you received in the previous page:
</P>
{% endif %}
{% if player.num_adv == 1 %}
        <p> {{ intro_1 }} </p>
        <p> <h>Suggested Strategy</h>: {{ first_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ first_verbal }} </p>


    {% elif player.num_adv == 2 %}
        <p> {{ intro_1 }} </p>
        <p> <h>Suggested Strategy</h>: {{ first_advice }}
        <p> <h>Verbal Reasoning</h>: {{ first_verbal }}

        <p> {{ intro_2 }} </p>
        <p> <h>Suggested Strategy</h>: {{ second_advice }} </p>
        <p> <h>verbal Reasoning</h>: {{ second_verbal }} </p>


    {% elif player.num_adv == 3 %}
        <p> {{ intro_1 }} </p>
        <p> <h>Suggested Strategy</h>: {{ first_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ first_verbal }} </p>

        <p>{{ intro_2 }}
        <p> <h>Suggested Strategy</h>: {{ second_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ second_verbal }} </p>

        <p>{{ intro_3 }} </p>
        <p> <h>Suggested Strategy</h>: {{ third_advice }} </p>
        <p> <h>Verbal Reasoning</h>: {{ third_verbal }} </p>

    {% else %}
        <p>
            You did not receive any advice.
        </p>

    {% endif %}


{% next_button %}

{% include Constants.instructions_template_1 %}


{% endblock %}